@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

main{
    margin-left: 3rem;
    margin-right: 3rem;
}

.create{
    margin-top: 4rem;

}
.create p {
    color:#2d9cdb;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.create h1{
    margin-left: 20px;
    margin-right: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.create img{
    
    width: 468px;
    height: 145px;
    border-radius: 18px;
}
.story h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:#333333
}
.story p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:12px;
    line-height: 18px;
    color:#4f4f4f
}
.story #minip{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:10px;
    line-height: 15px;
    color:#828282
}

.story div{
    background-color: #f2f2f2;
    width: 291px;
    height: 47px;
    border-radius: 12px;
    margin-top: 2rem;
}
.story div input{
    width: 147px;
    height: 26px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.story div input ::placeholder{
    color:#bdbdbd;
}
.story div button{
    background-color: #2d9cdb;
    border-style: none;
    width: 71px;
    height: 39px;
    border-radius: 12px;
    color:#f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:14px;
    line-height: 21px;
    margin-left: 71px;
    margin-top: 4px;

}

.services {
    margin-top: 3rem;
}

.services :hover{
    border-radius: 24px;
    box-shadow: 5px 6px 3px lightslategray;
    border-top: 1px solid lightslategray;
    border-left:1px solid lightslategray;
}
.services .service :hover{
    box-shadow: none;
    border-style: none;
}
.services .service button:hover{
    box-shadow: none;
    border-style: none;
    background-color: #2d9cdb;
    color: white;
}

#services .service{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.services .service h2,p{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
.services .service button{
    width: 116px;
    height: 42px;
    border-style: none;
    border-radius: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height: 24px;
    color:#828282
}

.services .service .icono{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    color: white;
    font-size: 27px;
    text-align: center;
    padding-top: 15px;
    margin-top:20px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.services .service .blue{
    background-color: #2d9cdb;
}

.services .service .green{
    background-color: #27ae60;
}

.services .service .red{
    background-color: #eb5757;
}

#servicet{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.designs{
    margin-top: 15rem;
}
.designs h2{
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:24px;
    line-height: 36px;
    color:#333333
}

.design {
    margin-top: 3rem;
}

.design img{
    border-radius: 25px;
}
.design p{
    padding-bottom: 0.2rem;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size:12px;
    line-height: 18px;
    color:#828282
}
.design h3{
    padding-bottom: 0.5rem;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    color:#333333
}
