@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

main{
    margin-left: 3rem;
    margin-right: 3rem;
}

.create{
    margin-top: 4rem;

}
.create p {
    color:#2d9cdb;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.create h1{
    margin-left: 20px;
    margin-right: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.create img{
    
    width: 348px;
    height: 92.5px;
    border-radius: 18px;
}
.story h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:#333333
}
.story p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:12px;
    line-height: 18px;
    color:#4f4f4f
}
.story #minip{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:10px;
    line-height: 15px;
    color:#828282
}

.story div{
    background-color: #f2f2f2;
    width: 291px;
    height: 47px;
    border-radius: 12px;
    margin-top: 2rem;
}
.story div input{
    width: 147px;
    height: 26px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.story div input ::placeholder{
    color:#bdbdbd;
}
.story div button{
    background-color: #2d9cdb;
    border-style: none;
    width: 71px;
    height: 39px;
    border-radius: 12px;
    color:#f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:14px;
    line-height: 21px;
    margin-left: 71px;
    margin-top: 4px;

}

.services {
    margin-top: 3rem;
}

#service2 {
    border-radius: 24px;
    box-shadow: 5px 6px 3px lightslategray;
    border-top: 1px solid lightslategray;
    border-left:1px solid lightslategray;
}
.services .service button:hover{
    box-shadow: none;
    border-style: none;
    background-color: #2d9cdb;
    color: white;
}

#services .service{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.services .service h2,p{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
.services .service button{
    width: 116px;
    height: 42px;
    border-style: none;
    border-radius: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height: 24px;
    color:#828282
}

.services .service .icono{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    color: white;
    font-size: 27px;
    text-align: center;
    padding-top: 15px;
    margin-top:20px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.services .service .blue{
    background-color: #2d9cdb;
}

.services .service .green{
    background-color: #27ae60;
}

.services .service .red{
    background-color: #eb5757;
}

#servicet{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.designs{
    margin-top: 15rem;
}
.designs h3 a{
    text-decoration: none;
    color:#2d9cdb;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;

}
.designs h2{
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:24px;
    line-height: 36px;
    color:#333333
}

.design {
    margin-top: 3rem;

}

.design img{
    border-radius: 25px;
    width: 350px;
    height: 350px;
}
.design p{
    padding-bottom: 0.2rem;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size:12px;
    line-height: 18px;
    color:#828282
}
.design h3{
    padding-bottom: 0.5rem;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    color:#333333
}
.team{
    margin-top: 10rem;
}

.team h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    color:#eb5757
}
.team h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:36px;
    line-height: 54px;
    color:#333333;
}
.team p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color:#4f4f4f;
    margin-left: 0;
    margin-top: 1rem;
}

#team{
    display: flex;
}

#member1{
    width: 144.76px;
    height: 144.76px;
    border-radius: 24px;
    padding:0.3rem;
}
#member2{
    width: 162.25px;
    height: 162.25px;
    border-radius: 24px;
    padding:0.3rem;
}
#member3{
    width: 200px;
    height: 200px;
    border-radius: 24px;
    padding: 0.5rem;
    margin-top: 3rem;
}
#members{
    display: flex;
    flex-direction: column;
}

.quote{
    margin-top: 4rem;
}
.quote h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:24px;
    line-height: 36px;
    color:#333333;
    margin-left: 0;
}
.people{
    display: flex;
    margin-top: 2rem;
    gap: 0.5rem;
}
.people img{
    width: 135px;
    height: 135px;
    border-radius: 12px;
}

.people #name h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:24px;
    line-height: 36px;
    color:#333333;
    
}
.people #name p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:18px;
    line-height: 27px;
    color:#828282;
    margin-left: 0;
    margin-right: 0;
    
}

footer{
    margin-top: 5rem;
    background-color: #100e1d;
    color:#ffffff;
    display: flex;
    flex-direction: column;
}

#footercontent .menu{
    margin-top: 1rem;
    margin-left: 3rem;
    
}

#footercontent .menu ul{
    list-style-type: none;
}

#footercontent .menu li a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height: 36px;
}

.social{
    margin-top: 3rem;
}

.social h2{
    margin-left: 3rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: #f2f2f2;
}

.contact{
    margin-left: 3rem;
    margin-top: 3rem;
    width: 291px;
    height: 47px;
    background-color: #f2f2f2;
    border-radius: 12px;
}
.contact input{
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    width: 147px;
    height: 26px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.contact input ::placeholder{
    
    color:#bdbdbd;
}
.contact button{
    background-color: #2d9cdb;
    border-style: none;
    width: 71px;
    height: 39px;
    border-radius: 12px;
    color:#f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:14px;
    line-height: 21px;
    margin-left: 53px;

}

#created {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

#created a{
    font-weight: 700;
    color:#f2f2f2;
}

@media screen and (min-width:992px) {
    .create{
        max-width: 100vw;
    }
    .create p {
        margin-left: 277px;
        font-size: 18px;
        line-height: 27px;
    }
    .create h1{
        margin-left: 277px;
        width: 543px;
        margin-right: 60px;
        font-size: 48px;
        line-height: 72px;
    }
    
    .create img{
        
        width: 100%;
        height: 354px;
        border-radius: 18px;
    }

    .story h2{
        width: 366px;
        height:141px;
        font-size: 48px;
        line-height: 72px;
    }
    .story p{
        width: 366px;
        height:141px;
        font-size:18px;
        line-height: 27px;
    }
    .story #minip{
        font-size:14px;
        line-height: 21px;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        height: 50px;
    }
    
    .story div{
        width: 350px;
        height: 57px;
        border-radius: 12px;
    }
    .story div input{
        margin-left: 5px;
        width: 147px;
        height: 26px;
        font-size: 18px;
        line-height: 27px;
    }
    .story div input ::placeholder{
        color:#bdbdbd;
    }
    .story div button{
        width: 71px;
        height: 49px;
        border-radius: 12px;
        font-size:18px;
        line-height: 21px;
        margin-left: 125px;
        margin-top: 4px;
    }
    .service {
        width: 341px;
        height: 422px;
    }
    
    .services #iconos{
        display:flex;
        justify-content: space-between;
    }

    .design img{
        width: 545px;
        height: 545px;
    }
    #design{
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    #design .mt{
        margin-top: 10rem;
    }
    .team{
        display: flex;
        justify-content: space-between;
    }
    .team #textos h3{
        width: 280px;
        height: 27px;
        font-size: 18px;
        line-height: 27px;
    }
    .team #textos h2{
        width: 280px;
        height: 162px;
        font-size: 36px;
        line-height: 54px;
    }
    .team #textos p{
        width: 273px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }

    #member1{
        width: 260px;
        height: 260px;
        border-radius: 24px;
        padding:0.3rem;
    }
    #member2{
        width: 292px;
        height: 300px;
        border-radius: 24px;
        padding:0.3rem;
    }
    #member3{
        width: 310px;
        height: 310px;
        border-radius: 24px;
        padding: 0.5rem;
        margin-top: 3rem;
    }

    .quote h2{
        width: 937px;
        height: 162px;
        font-size: 36px;
        line-height: 54px;
    }

    .people #name h2{
        width: 140px;
        height: 36px;
        font-size: 24px;
        line-height: 36px;
    }
    .people #name p{
        margin-top: 1rem;
        font-size: 18px;
        line-height: 27px;
    }
}